#block-googlecse2-fr-google-custom-search {
    float: left;
    display: inline;
}

#gsc-input-box {
    border: 0;
}

.gsc-input {
    padding: 0;
}

td.gsib_a, td.gsib_b {
    padding: 0;
}
td.gsc-table-cell-snippet-close {
    padding-left: 8px;
}
.gsc-webResult .gsc-result {
    padding: 0;
}
td.gsc-table-cell-thumbnail.gsc-thumbnail {
    padding: 0px 8px;
}

/* Some responsiveness */
@media (min-width: 600px) {
    #block-googlecse2-fr-google-custom-search {
        margin: 0 0 0 2em;
        width: 25em;
    }
}
