#block-googlecse2-fr-google-custom-search {
    width: 25em;
    position: absolute;
    top: 0px;
    right: 0px;
}

#gsc-input-box {
    border: 0;
}

.gsc-input {
    padding: 0;
}

td.gsib_a, td.gsib_b {
    padding: 0;
}
td.gsc-table-cell-snippet-close {
    padding-left: 8px;
}
.gsc-webResult .gsc-result {
    padding: 0;
}
