#askalibrarian {
  z-index: 9999;
  position: fixed;
  background: #FFF;
  text-align: center;
  width: 200px;
  right: 20px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 50px #f1f1f1 inset;
}
#askalibrarian .toggle {
  height: 50px;
  overflow: hidden;
}
#askalibrarian .toggle h6 {
  margin: 0;
  line-height: 1.2em;
  padding-top: 12px;
  background: #1D2A54;
  border-radius: 10px 10px 0 0;
  color: #fff;
  height: 50px;
}
.lpPoweredBy {
  display:none;
}
.lpEmtStarRating {
  display:none;
}
@media print {
    #askalibrarian {
        display: none;
    }
}
